[Unit]
Description=HDMI-force-ON
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hdmi-on.sh
KillMode=process

[Install]
WantedBy=multi-user.target
Alias=hdmi-on.service
